# python
__pycache__/
*.py[cod]
*.pyc

# SQLite DB
*.sqlite3
*.sql

# vscode
.vscode/

# python virtual environment
backend/venv/
venv/

# environment/config files
.env
*.env
.env.*

# node npm
node_modules/
dist/
build/
*.log

# macOS
.DS_Store
.DS_STORE

# Chrome extension 
pusher.zip
*.crx

# dashboard
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vite/


# others
.idea/
*.swp
*.swo
note.py